<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    
    <add key="HostName" value="localhost"/>
    <add key="IP" value="185.162.127.140"/>
    <add key="Port" value="80"/>
    <add key="FullPath" value="EmsWeb/Views/KeepAlive.aspx"/>
    
    <add key="TestIntervalsInMinutes" value="1"/>
    <add key="IdleTimeOnstartupInMinutes" value="10"/>

    <add key="ExpectedHttpResponse" value="200"/>

    <!--<add key="ProcessName" value="EMS Server Service"/>-->
    <add key="ServiceName" value="Windows Update"/>
    <add key="FailuresCounterBeforeRestaringService" value="1"/>
    <add key="FailuresCounterBeforeRestaringWindows" value="1"/>
    <!-- 
    Actions Severity Levels: 
       0 = Turn off the test 
       1 = Run test but do nothing if it fails
       2 = Stop & start application
       3 = Stop & start application for 2 times, in the failiure restart windows
       4 = Only restart windows
    -->
    <add key="LocalhostTestActionLevel" value="0"/>
    <add key="IpOrHostNameActionLevel" value="3"/>
    
    
   </appSettings>
</configuration>